* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: red;
  height: 700px;
  /* width: 900px; */

  display: grid;
  /* grid-template-rows: 133px 133px 133px;
  grid-template-columns: 133px 133px 133px; */

  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 143px 1fr 43px;
  /* grid-template-rows: repeat(3, 1fr); */

  row-gap: 12px;
  column-gap: 12px;

  /* justify-items: center; */
  /* justify-items: center; */
  /* justify-items: end; */
  /* align-items: center; */

  /* for justify-items:center and align-items:center */
  place-items: center;
}

.item {
  background-color: aqua;

  height: 122px;
  width: 122px;
}

.item1 {
  /* grid-column-start: 1;
  grid-column-end: 4; */

  grid-column: 1 / span 3;

  background-color: black;
  color: white;
  width: 100vw;
}

.item2 {
  /* justify-self: center;
  align-self: center; */

  /* instead of justify self and align self use place self */
  place-self: center;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: black;
  width: 100vw;
}
