@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 4px;
  background-color: #25252a;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* first button */
.btn-1 {
  width: 300px;
  height: 100px;
  border: none;
  color: white;
  background-color: rgba(255, 0, 68);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #f9e506;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
}

.btn-1:hover {
  box-shadow: inset 300px 0 0 0 #f9e506;
  cursor: pointer;
  color: #000;
}

/* second button */
.btn-2 {
  width: 300px;
  height: 100px;
  border: none;
  color: white;
  border-radius: 4px;

  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
  border: 3px solid #42fbf2;
  position: relative;
  z-index: 1;
}

.btn-2:hover {
  color: #fff;
  cursor: pointer;
}

.btn-2::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #42fbf2;
}

.btn-2:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
