* {
  margin: 0;
  padding: 0;
  outline: 0;
}
.filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.7;
  background: rgb(22, 117, 113);
}
table {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;

  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(32, 32, 32, 0.3);
  /* height: 400px; */
  background: #fafafa;
  text-align: center;
}
th,
td {
  padding: 12px 15px;
}
th {
  background: #ba68c8;
  color: #fafafa;
  text-transform: uppercase;
  font-family: sans-serif;
}
td {
  font-family: monospace;
}
tr:nth-child(odd) {
  background-color: #eeeeee;
}
